In [1]:
import pandas as pd
import csv

In [2]:
weather = "weather_data.csv"
weather_df = pd.read_csv(weather)
weather_df.head()

,city,country,lat,lng,max_temp,humidity,cloudiness,wind_speed,date
0,Susanville,US,40.4163,-120.6530,71.60,6,1,3.44,1619655810
1,Port Alfred,ZA,-33.5906,26.8910,66.22,79,98,8.48,1619655836
2,Rikitea,PF,-23.1203,-134.9692,76.06,66,41,10.02,1619655836
3,Korgen,NO,66.0771,13.8153,35.01,73,91,2.15,1619655836
4,Albany,US,42.6001,-73.9662,57.99,86,96,2.82,1619655837

In [5]:
weather_df.to_html('weather.html', header=True, index=True, )